<div class="container">
    <div class="container__knowledge">
        <div class="know-head">
            <div>Knowelegde</div>
        </div>
        <div class="know-card">
            <app-contenedor background="var(--blueberry-color)" name="Total Orders" icon="icon-folder" />
            <app-contenedor background="pink" name="Total Earnings" icon="icon-folder" iconColor="var(--pink-color)"/>
            <app-contenedor background="navajowhite" name="Profits" icon="icon-folder" iconColor="var(--orange-color)"/>

        </div>
        <div class="know-info">
            <app-card-percent> </app-card-percent>

        </div>
    </div>
    <div class="container__drivers">
        <div class="drivers-header">
            <div class="drivers-header__title">Top Drivers</div>
            <div class="drivers-header__icon">></div>
        </div>
        <div class="drivers-body">
            <app-card-driver 
                image="https://i.pravatar.cc/300" 
                name="Steve Jimbo" 
                phone="+593 995 083 604" 
                orders="5"
                income="98" />
            <app-card-driver 
                image="https://i.pravatar.cc/300" 
                name="Daniela Gonzales" 
                phone="+593 995 083 604" 
                orders="5"
                income="98" />
            <app-card-driver 
                image="https://i.pravatar.cc/300" 
                name="Jessica Ballesteros" 
                phone="+593 995 083 604" 
                orders="5"
                income="98" />
        </div>
    </div>
    <div class="container__table">
   
            <app-table [totalUsers]="totalCount" [tableHeaders]="headersArray" [arrayName$]="rideList$" (pageSelected)="onPageSelected($event)"></app-table>
         
    </div>
</div>


