.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--blue-dark-color);

    &__knowledge {
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    &__drivers {
        width: 30%;
    }

    &__table {
        color: var(--blue-dark-color);

    }

    &__title {
        padding-top: 0.5rem;

    }
}

.drivers-header {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
    justify-content: space-between;

    &__title {
        font-size: 2em;
        padding-top: 0.5rem;

    }

    &__icon {
        font-size: 18px;
    }
}

.drivers-body {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.know-card {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
    gap: 10px;
}

.know-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 1.5rem auto;
   
}