
.container{
   
    height: 100px;
    box-sizing: content-box;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    border-radius: 8px;
    &__icon{
        width: 3%;
    }
}